{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.tsx", "*.jsx"],
      "options": {
        "jsxSingleQuote": true,
        "bracketSameLine": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}