---
import Layout from "../../layouts/Layout.astro";
import ResetPass from "../../components/auth/ResetPass";

// Get the cpde from the URL
const { passwordResetCode } = Astro.url.searchParams;

// If no code parameter, redirect to login
if (!passwordResetCode) {
  return Response.redirect('/auth/login', 302);
}

const { session } = Astro.locals;

// redirect to dashboard if user exists
if (session) {
  return Astro.redirect("/dashboard");
}
---

<Layout title="urge login" description="log in to urge platform">
  <main class="min-h-screen flex items-center justify-center bg-base-200">
    <ResetPass passwordResetCode={passwordResetCode} client:load />
  </main>
</Layout>
