---
import Layout from "../../layouts/Layout.astro";


const { session } = Astro.locals;

// redirect to login if user does not exists
if (!session) {
  return Astro.redirect("/auth/login");
}
---

<Layout title="urge Dashboard" description="Urge dashboard">
  <h1>Dashboard</h1>
</Layout>
