---
import Layout from "@layouts/Layout.astro";
import TestHero from "@components/landing/TestHero";




---

<Layout title="urge" description="Start your business with urge">
  <section
    class="w-full py-10 bg-gradient-to-b from-gray-700 via-gray-900 to-black relative overflow-hidden"
  >
    {/* Radial Gradient Background */}
    <div class="absolute inset-0 z-0"></div>
    {/* Your Content/Components */}

    <TestHero client:load />
  </section>
</Layout>

<style></style>
