---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/landing/Hero";
import Problem from "../components/landing/Problem.astro";
import Approach from "../components/landing/Approach.astro"
import Pricing from "../components/landing/Pricing.astro";
import CTA from "../components/landing/CTA.astro";
import Solution from "../components/landing/Solution.astro"

---

<Layout title="urge" description="Start your business with urge">
  <section
    class="w-full py-10 bg-gradient-to-t from-slate-900 via-oklch(0.45 0.12 32) to-primary relative overflow-hidden"
  >
    <Hero client:load />
  </section>
  <Problem />
  <Approach />
  <Solution segment="default" />
  <Pricing segment="default" />
  <CTA segment="default" />
</Layout>

<style></style>
 
