---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/landing/Hero";




---

<Layout title="urge" description="Start your business with urge">
  <section
    class="w-full py-10 bg-gradient-to-t from-primary via-oklch(0.45 0.12 32) to-slate-900 relative overflow-hidden"
  >
    <Hero client:load />
  </section>
</Layout>

<style></style>
