---
// src/pages/generate-sequence.astro
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

type Milestone = CollectionEntry<"milestones">;
type Concept = CollectionEntry<"concepts">;
type Challenge = CollectionEntry<"challenges">;
type Exercise = CollectionEntry<"exercises">;
type Summary = CollectionEntry<"summaries">;

type Content = {
  title: string;
  slug: string;
  contentMetaId: string;
  next?: {
    id: string;
    type: string;
  };
  previous?: {
    id: string;
    type: string;
  };
  data?: any;
}

let allContentData: Content[] | null = [];

// Get all collections
const allMilestones = await getCollection('milestones');
const allConcepts = await getCollection('concepts');
const allChallenges = await getCollection('challenges');
const allExercises = await getCollection('exercises');
const allSummaries = await getCollection('summaries');

//formatting data for content master list
function mapContentToList (data: Milestone|Concept|Exercise|Challenge|Summary) {
  const contentData: Content = {
    title: data.data.title,
    slug: data.slug,
    contentMetaId: data.data.contentMetaId,
    next: data.data.next,
    previous: data.data.previous,
    data: data.data
  }
  allContentData?.push(contentData);
}

allMilestones.map((data)=> mapContentToList(data));
allConcepts.map((data)=> mapContentToList(data));
allChallenges.map((data)=> mapContentToList(data)); 
allExercises.map((data)=> mapContentToList(data));
allSummaries.map((data)=> mapContentToList(data));

console.log(allContentData.length)
---

<Layout title='seq' description='sequence'>
    <h1>Content Sequences</h1>
  
    </div>
</Layout>

