---
import DashLayout from "../../../layouts/DashLayout.astro";
import { hasAccess, accessProfiles } from "../../../lib/rbac";
import MDContainer from "../../../components/content/MDContainer.astro";
import OpportunitiesList from "../../../components/user/assets/OpportunityList";

// CHECK AUTHENTICATION AND ACCESS
const { userRoles, session } = Astro.locals;

const isAuthenticated: boolean = session !== null;

const hasPageAccess: boolean = hasAccess(
    userRoles,
    accessProfiles.programStart,
);

// redirect if doesnt have access
if (!isAuthenticated || !hasPageAccess) {
    return Astro.redirect("/program");
}

// BREADCRUMBS
const breadcrumbs = [
    { name: "Home", url: "/" },
    { name: "Assets", url: "/assets" },
    { name: "Opportunities", url: "/assets/opportunities" },
];
---

<DashLayout
    title="milestones | urge-start"
    description="milestones in urge start program"
    breadcrumbItems={breadcrumbs}
>
    <h1 class="mb-8">Opportunities</h1>
    <MDContainer>
        <p>
            The items below are more than just notes—they are validated opportunities ready for action. Each entry started as a real-world problem you noticed, and by applying your unique skills and perspective, you turned it into a business possibility. Review this list regularly; every item represents a step toward building something meaningful, valuable, and distinctly yours. 
        </p>
    </MDContainer>

    <div class="py-12">
        <OpportunitiesList client:load />
    </div>
</DashLayout>
