---
import DashLayout from "../../../../layouts/DashLayout.astro";
import { hasAccess, accessProfiles } from "../../../../lib/rbac";
import OpportunityDetail from "../../../../components/user/assets/OpportunityDetail";

// CHECK AUTHENTICATION AND ACCESS
const { userRoles, session } = Astro.locals;

const isAuthenticated: boolean = session !== null;

const hasPageAccess: boolean = hasAccess(
    userRoles,
    accessProfiles.programStart,
);

// redirect if doesnt have access
if (!isAuthenticated || !hasPageAccess) {
    return Astro.redirect("/program");
}

const { id } = Astro.params;

// BREADCRUMBS
const breadcrumbs = [
    { name: "Home", url: "/" },
    { name: "Assets", url: "/assets" },
    { name: "Opportunities", url: "/assets/opportunities" },
    { name: "Opportunity Detail", url: `/assets/opportunities/${id}` },
];
---

<DashLayout
    title="milestones | urge-start"
    description="milestones in urge start program"
    breadcrumbItems={breadcrumbs}
>
    <h1 class="mb-8">Milestones: Your Entrepreneurial Roadmap</h1>

    <div class="py-12">
        {
            id ? (
                <OpportunityDetail opportunityId={id} client:load />
            ) : (
                <p>Opportunity does not exist</p>
            )
        }
    </div>
</DashLayout>
